# dependencies
node_modules

# production build
.svelte-kit
build
dist

# screen recordings
*.mp4
coverage

# secrets
.env

# coverage and large test files
test-results*
src/site/trajectories/large

# vscode extension
*.vsix
!extensions/vscode/.vscode/
