:root {
  --page-bg: #090019;
  --diatomic-nonmetal-bg-color: #ff8c00;
  --noble-gas-bg-color: darkorchid;
  --alkali-metal-bg-color: darkgreen;
  --alkaline-earth-metal-bg-color: darkslateblue;
  --metalloid-bg-color: darkgoldenrod;
  --polyatomic-nonmetal-bg-color: brown;
  --transition-metal-bg-color: #571e6c;
  --post-transition-metal-bg-color: #938d4a;
  --lanthanide-bg-color: #58748e;
  --actinide-bg-color: cornflowerblue;
  --experimental-bg-color: gray;

  --toc-mobile-bg: #1c0e3e;
  --toc-li-padding: 4pt 7pt;
  --toc-mobile-btn-color: white;
  --toc-desktop-nav-margin: 0 0 0 1em;
  --toc-active-bg: teal;

  --sms-margin: 1em auto;
}
body {
  background: var(--page-bg);
  padding: 6vh 3vw;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  margin: auto;
  color: #eee;
}
main {
  margin: auto;
  margin-bottom: 3em;
  width: 100%;
  max-width: 50em;
}
a {
  color: cornflowerblue;
  text-decoration: none;
}

button,
a.btn {
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 3pt;
  background-color: darkcyan;
  padding: 2pt 4pt;
  font-size: 12pt;
  line-height: initial;
  transition: background-color 0.2s;
}
a:hover {
  color: orange;
}
code {
  overflow-wrap: break-word;
  padding: 1pt 3pt;
  border-radius: 3pt;
  font-size: 1.3em;
  background-color: black;
}
pre code {
  background-color: transparent;
}
pre {
  border-radius: 1ex;
  font-size: 0.7em;
}
blockquote {
  border-left: 3pt solid cornflowerblue;
  padding: 3pt 7pt;
  background: rgba(255, 255, 255, 0.2);
  margin: 1em 0;
}
blockquote p:first-child {
  margin-top: 0;
}
blockquote p:last-child {
  margin-bottom: 0;
}
button {
  cursor: pointer;
  border: none;
}

:where(h1, h2, h3, h4, h5, h6) {
  scroll-margin-top: 100px;
}
/* style heading anchors added by rehype-autolink-headings, see svelte.config.js */
:where(h2, h3, h4, h5, h6) a[aria-hidden='true'] {
  transition: 0.3s;
  margin-left: 4pt;
  opacity: 0;
}
:where(h2, h3, h4, h5, h6):hover a[aria-hidden='true'] {
  opacity: 1;
}

/* svelte-toc styles */
aside.toc.desktop {
  position: fixed;
  top: 3em;
  left: calc(50vw + 50em / 2);
  max-width: 16em;
}
